@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 199 89% 48%; /* cyan-600 approx */
    --primary-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --radius: 0.75rem;
  }

  ::selection {
    background-color: #0891b2;
    color: white;
  }

  ::-moz-selection {
    background-color: #0891b2;
    color: white;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-infinite-scroll {
    animation: infinite-scroll 40s linear infinite;
  }
  
  .animate-infinite-scroll:hover {
    animation-play-state: paused;
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
